.spectitle {
    font-family: Roboto;
    font-size: 18px;
}
div {
    outline: 0;
}
div {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.educationAreaInfo {
    width: calc(100% - 150px);
    text-align: left;
    font-family: Roboto;
}
.educationAreaInfo>div:not(:first-child) {
    font-size: 14px;
    margin-top: 10px;
}
.price {
    font-family: 'PT Sans',serif;
}
.tooltipq {
    border-bottom: 1px dotted #000;
    color: #000;
    outline: 0;
    cursor: help;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-family: Roboto;
}
.tooltipq span {
    margin-left: -999em;
    position: absolute;
    padding: 5px;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
}
.yearVuzInfoSpan {
    border: 1px solid lightgray;
    background: #fff;
    margin-left: 7px;
    padding: 0 2px;
    position: absolute;
}
.fixToolT {
    border-bottom: 0 !important;
    color: #333 !important;
    font-size: 12px !important;
}