@model AdmissionEasy.ViewModels.DirectionsViewModel

@{
    Layout = "_Layout";
}
@{  
    ViewBag.Title = "Directions";  
}
@functions {
    private static List<string> GetUniqSubjects(List<string> subjects)
    {
        var uniqSubjects = new List<string>();
        foreach (var subject in subjects)
        {
            var separatedSubjects = subject.Replace(", ", "/").Split("/");
            foreach (var sub in separatedSubjects)
            {
                uniqSubjects.Add(sub);
            }
        }

        return uniqSubjects.Distinct().ToList();
    }
}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/css/index.css">
<div class="py-2">
    <div class="d-flex flex-row flex-wrap row-content-block">
        <div class="d-flex flex-row px-2 py-2">
            <p class="my-auto font-weight-bold">Фильтры</p>
        </div>
        <div class="d-flex flex-row px-2 py-2">
            <label class="my-auto mr-2" for="instituteFilter">Институт:</label>
            <select class="instituteFilter" name="instituteFilter" id="instituteFilter">
                <option value="">Все институты</option>
                @foreach (var institute in Model.InstituteTitles.Distinct().OrderBy(title => title))
                {
                    <option value="@institute">@institute</option>
                }
            </select>
        </div>
        <div class="d-flex flex-row px-2 py-2">
            <label class="my-auto mr-2" for="subjectFilter">Предмет:</label>
            <select class="subjectFilter" name="subjectFilter" id="subjectFilter">
                <option value="">Все предметы</option>
                @foreach (var subject in GetUniqSubjects(Model.Subjects))
                {
                    <option value="@subject">@subject</option>
                }
            </select>
        </div>
    </div>
</div>
  <div class="features">
      <table class="stripe row-border hover table-opacity-background display nowrap text-center" id="anime">
           <thead>
                <tr>
                    <th>Специальность</th>
                    <th>Стоимость (руб/год)</th>
                    <th>Бюджетная основа</th>
                    <th>Платная основа</th>
                </tr>
            </thead>
      </table>
  </div>
<script src="//cdn.datatables.net/plug-ins/1.11.5/i18n/ru.json"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="js/indexMenu.js"></script>

<script>
    buildDataTable()

    $('#instituteFilter').change(function () {
        var instituteTitle = $(this).val();
        searchInColumn(0, instituteTitle)
    })
    
    $('#subjectFilter').change(function () {
        var subjectTitle = $(this).val();
        searchInColumn(1, subjectTitle)
    })
</script>