@using AdmissionEasy.Data.Services
@using AdmissionEasy.Models
@using AdmissionEasy.Models.DTO
@using Microsoft.AspNetCore.Mvc.ViewFeatures.Buffers

@{
    Layout = "_Layout";
}
    <link rel="stylesheet" type="text/css" href="~/css/homePage.css">
    <link rel="stylesheet" type="text/css" href="~/css/btnup.css">
    <link rel="stylesheet" type="text/css" href="~/css/news.css">
    <link rel="stylesheet" type="text/css" href="~/css/news.scss">
<div class="main">
    <div class="two">
      <h1>
        Добро пожаловать на сайт AdmissionEasy
        <span>Сервис для абитуриентов</span>
      </h1>
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    </div>
</div>
<div class="row">
  <div class="example-2 cardd">
      <div class="wrapper">
        <div class="header">
          <div class="date">
            <span class="day">12</span>
            <span class="month">Дек</span>
            <span class="year">2022</span>
          </div>
          <ul class="menu-content">
            <li>
              <a href="#" class="fa fa-bookmark-o"></a>
            </li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">НН</span>
            <h3 class="title"><a href="#">Поступление 2023</a></h3>
            <p class="text">Подписан приказ о внесении изменений в порядок приема в вузы. Что нового?</p>
            <a href="#" class="button">Читать далее...</a>
          </div>
        </div>
      </div>
    </div>
  <div class="example-2 cardd">
    <div class="wrapper">
      <div class="header">
        <div class="date">
          <span class="day">12</span>
          <span class="month">Дек</span>
          <span class="year">2022</span>
        </div>
        <ul class="menu-content">
          <li>
            <a href="#" class="bi bi-bookmark"></a>
          </li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Автор</span>
          <h3 class="title"><a href="#">Поступление 2023</a></h3>
          <p class="text">Подписан приказ о внесении изменений в порядок приема в вузы. Что нового?</p>
          <a href="#" class="button">Читать далее</a>
        </div>
      </div>
    </div>
  </div>
  <div class="example-2 cardd">
      <div class="wrapper">
        <div class="header">
          <div class="date">
            <span class="day">12</span>
            <span class="month">Дек</span>
            <span class="year">2022</span>
          </div>
          <ul class="menu-content">
            <li>
              <a href="#" class="bi bi-bookmark"></a>
            </li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Автор</span>
            <h3 class="title"><a href="#">Поступление 2023</a></h3>
            <p class="text">Подписан приказ о внесении изменений в порядок приема в вузы. Что нового?</p>
            <a href="#" class="button">Читать далее</a>
          </div>
        </div>
      </div>
    </div>
</div>
