@using AdmissionEasy.Data.Services
@using AdmissionEasy.Models
@using AdmissionEasy.Models.DTO
@using Microsoft.AspNetCore.Mvc.ViewFeatures.Buffers

@{
    Layout = "_Layout";
}

<link rel="stylesheet" type="text/css" href="~/css/homePage.css">

<div>
    <div class="two">
        <h1>
            Добро пожаловать на сайт AdmissionEasy
            <span>Сервис для абитуриентов</span>
        </h1>
    </div>
</div>